[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "viewscape"]
	path = viewscape
	url = https://github.com/land-info-lab/viewscape
